
.logo {
    margin-left: 10px;
}
.list__menu{
    padding-left: 10px;
}

.container{
    margin-top: 100px;
    width: 1200px !important;
    width: 100% !important;
    margin-bottom: 50px;
}
.row{
    margin: 0;
    display: flex !important;
}

.col-lg-9{
    padding: 0 !important;
}
.col-lg-3{
    /* padding: 0px !important; */
}

.image-header-elite img{
    width: 100%;
    margin-top: 80px;
    object-fit: cover;
}
.content-elite-top-left{
    padding: 20px;
    width: 431px;
    height: 220px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    position: relative;
}
.date-elite span{
    margin-top: -15px;
    top: 0;
    position: absolute;
    background: #d09754;
    padding:2px 5px;
    color: #fff;
}
.main-content{
    display: flex !important;
    justify-content: center;
}
.container{
    margin-top: 25px !important;
}
.content-elite-top-left h5{
    margin: 10px 0 30px 0;
}
.reading-elite{
    opacity: 0.7;
}
.reading-elite i{
    transition: all 0.3s linear;
}
.content-elite-top-left h5:hover{
    color: #d09754;
}
.reading-elite:hover{
    color: #d09754;
}
.reading-elite:hover i{
    transform: translateX(5px);
}
.content-elite-top{
    display: flex;
    justify-content: space-between;
}
.post__imgage-text-elite{
    margin: 0 0 0 10px !important;
}

.post__imgage-text-pool{
    width: 429px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin: 20px 0;
}
.posts__img-pool{
    position: relative; 
}
.posts__img-pool img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.post__date-pool{
    padding-left: 25px;
}
.posts__text-pool{
    padding: 30px 25px 25px 25px;
}
.posts__text span{
    opacity: 0.6;
    position: relative;
    padding-bottom: -100px;
}
.post__date-pool span{
    margin-top: -15px;
    position: absolute;
    padding: 2px 15px;
    color: #fff;
    background: #d09754;
}
.posts__text-pool span i{
    transition: all 0.3s linear;
}
.posts__text-pool h6:hover,
.posts__text-pool span:hover{
    color: #d09754;
}
.posts__text-pool span:hover i{
    transform: translateX(5px);
}

.content-elite-bottom{
    width: 100%;
}

.content-elite-bottom-left{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.item__right-pool{
    width: 280px;
    position: sticky;
    top: 1rem;
    margin-left: 10px;
}
.item__right-header-pool{
    width: 100%;
    border-radius: 0 0 0 10px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}
.item__right-header-all-pool{
    margin-left: -2px;
    width: 100%;
    height: 40px;
    background:#d09754;
    border-radius: 0 10px 0 10px;
}
.item__right-header-all-pool h6{
    margin-left: 20px;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
}

.image__text-right-pool{
    display: flex;
    /* align-items: center; */
}
.img__right-pool{
    width: 90px;
    height: 60px;
}
.img__right-pool img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text__right-pool{
    margin-top: -5px;
    margin-left: 10px;
    font-size: 14px;
}
.text__right-pool span:hover{
    color: #d09754;
}
.date__right-pool{
    display: flex;
    align-items: center;
    opacity: 0.6;
}
.date__right-pool span{
    margin-left: 10px;
}

@media (max-width: 1023px){
    .container{
        width: unset !important;
        margin-top: 80px;
    }
    .logo__mobile{
    }
}


@media (max-width: 1023px){
    .item__right-pool{
        width: 100%;
    }
    .image-header-elite img{
        margin-top: 60px;
    }
    .content-elite-top-right{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .post__imgage-text-pool{
        margin: 0 !important;
    }
    .content-elite-bottom-left{
        display: flex !important;
        flex-wrap: wrap;
    }
    .active{
        margin-top: 30px;
    }
    .item__right-pool{
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
        /* padding: 0 10px; */
    }
    .container-main{
        width: 100% !important;
    }
}
@media (max-width: 960px){
    .content-elite-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-elite-top-left{
        height: 250px;   
        margin-bottom: 25px;
    }
}
