
@media (max-width: 1023px){
    .slide{
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slide__img {
        width: 100%;
        padding-bottom: 160px;
    }
    .slide__img img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .list__date-button{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .list__date{
        width: 80%;
        height: 300px; 
    }
    .list__button{
        margin: 5px;
    }
    .slide__img .slick-arrow{
        display: none !important;
    }
}

@media(max-width: 1023px){
    .content{
        padding-top: 70px;
        display: flex;
        margin-left: 24px;
        flex-direction: column;
        justify-content: center;
    }
    .text__content h2{
        font-size: 25px;
        margin-top: -15px;
    }
    .list__text-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: -23px;
        padding-top: 10px;
        width: 100%;
    }
    .text-title{
        font-family: 'Montserrat';
        font-style: normal !important;
        font-weight: 800 !important;
        font-size: 25px !important;
        /* line-height: 44px !important; */
        /* text-transform: uppercase; */
    }
    .img__content{
        width: 80%;
        height: 250px;
        margin-right: 23px;
    }
    .img__content img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .text__content >button{
        margin-top: -20px;
    }
    .text__content{
        width: 100%;
    }
    .text__content >p{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
    .text-content-mobile{
        margin-top: 5px !important;
    }
    .text__content .text-content-mobile {
        text-align: justify;
    }
}

@media (max-width: 1023px){
    .slide__content-img img{
        height: 1200px !important;
        width: 100%;
    }
}
@media (max-width: 740px){
    .slide__show-left-right,
    .text__left,
    .text__right{
        display: none;
    }
    .slide__arrow-left,
    .slide__arrow-right{
        width: 30px;
        display: none;
    }
    .slide__content-pc{
        width: 100%;
    }
    .slide__content{
        width: 100%;
    }
    .slide__content-img{
        width: 100%;
    }
    .slide__content-img img{
        height: 930px !important;
        width: 100%;
    }
    .text__slide-content h2{
        margin-top: 10px;
    }
    .text__slide-content .text{
        margin-bottom: 20px;
    }
    .slide__show{
        width: 100%;
        display: flex;
        justify-content: center;
        /* margin: 0 -30px; */
    }
    .slide__show-mid{
        width: 80%;
        height: 200px;
        width: 300px;
        object-fit: cover;
    }
    .text__mid{
        width: 100%;
    }
    .text__mid h5{
        font-size: 20px;
    }
    .text__mid p{
        text-align: center;
        width: 100%;
        padding: 0 10px;
    }
    .text__mid button{
        margin-top: 30px;
    }
}

@media (max-width: 1023px){
    .slide__content-img img{
        height: 930px;
    }
    .slide__show-two{
        width: 90%  ;
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .slide__image-right .slick-arrow{
        display: none !important;
    }
    .slide__image-right{
        width: 100%;
        height: auto;
    }
    .text__slide-show-left-all{
        width: 100%;
    }
    .text__slide-show-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        height: 400px;
    }
    .text__slide-show-left h3{
        margin-top: -80px;
        padding-bottom: 0 !important;
        font-size: 16px;
    }
    .text__slide-show-bottom p{
        width: 80%;
        margin: 5px 0;
        text-align: center;
        text-align: justify;
    }
}

@media (max-width: 360px) {
    .slide__content-img img{
        height: 980px !important;
    }
    .text__slide-show-left{
        height: 430px;
    }
    .text__slide-show-left h3{
        width: 100%;
    }
    .text__slide-show-left button{
        margin-top: -2px;
    }
    .text-body-right-mb{
        margin-top: -20px !important;
    }
}

@media (max-width: 1023px){
    .content__body{
        padding-top: 0;
    }
    .content__body h2{
        font-size: 25px;
        margin-top: 70px;
    }
    .text__content-body{
        width: 100%;
    }
    .list__text__content-body >h2 {
        padding-top: 0;
    }
    .text-bottom-mobile{
        margin-top: -15px !important;
    }
    .text__content-body p{
        width: 100%;
        line-height: unset;
    }
    .img__body{
        object-fit: cover;
    }
    .content__body-right-mobile{
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    .content__all-body-right-mobile{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -75px;
    }
    .pc__all{
        display: none;
    }
    .mobile__all{
        display: block;
    }
    .body__avata-mobile{
        margin-top: -50px;
    }
    .body__avata-mobile img{
        /* height: 1000px; */
    }
    .img__body-mobile{
        /* height: 1000px; */
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
        margin-top: -70px;
    }
    .content__body-text-right-mobile{
        margin-top: 70px;
    }
}

@media (max-width: 1023px){
    .list__service{
        width: 100%;
        display: block;
    }
    .list__service img{
        width: 100%;
    }
    .service__top{
        margin-top: -240px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .list__service-content{
        width: 80%;
    }
    .list__service-content h2{
        font-size: 25px;
    }
    .list__srevice-option-all{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }
    .list__service-option{
        margin: 20px 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .list__service-content-option{
        padding: 0 20px;
    }
    .list__text-service{
        width: 100%;
    }
    .service__option{
        margin-top: 0px;
    }
}

@media (max-width: 1023px){
    .feedback__mid-all .slick-arrow{
        display: none !important;
    }
    .feedback__all{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .feedback__text-content-body h2{
        margin-top: 0px;
        font-size: 25px;
    }
    .feedback__text-content-body .text-header{
        margin-top: 80px !important;
    }
    .feedback__img >img{
        min-height: 670px;
    }
    .feedback__text-content-body{
        width: 80%;
    }
    .feedback__bottom{
        margin-top: -30px;
    }
}

@media (max-width: 360px) {
    .feedback__img >img{
        height: 700px;
    }
}

@media (max-width: 1023px) {
    .text-news-mobile .text-title{
        padding-top: 80px;
    }
    .news__option{
        margin: 0 10px;
    }
    .news__option-img{
        width: 380px;
        height: 190px;
    }
    .news__option-img img{
        /* width: 100%; */
        width: 308px;
        object-fit: cover;
    }
    .news__btn{
        margin-top: 30px;
    }
}
@media (max-width: 740px){
    .news{
        margin-top: 30px;
    }
    .list__news{
        width: 100%;
    }
    .list__service-content-all{
        display: flex;
        justify-content: center;
    }
    .text-news-mobile .text-title{
        padding-top: 0;
    }
    .list__news-option-all{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .list__news-option{
        width: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .news__option{
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    .news__option-img{
        width: 380px;
        height: 190px;
    }
    .news__option-img img{
        width: 100%;
        object-fit: cover;
    }
    .list__news-option-content{
        width: 80%;
    }
    .news__date{
        margin-right: 26px;
    }
    .news__btn{
        margin-top: 30px;
    }
}
