*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar__all{
    display: flex;
    justify-content: space-around;
    height: 49px;
    
}
.navbar__left{
    display: flex;
    align-items: center;
}
.navbar__left-dot{
    width: 5px;
    height: 5px;
    background: #D09754;
    margin-top: 5px;
    margin-right: -10px;
}
.text__content{
    padding: 0 20px;
    margin-bottom: 0;
}
.navbar__right{
    display: flex;
    align-items: center;
}
.icons{
    padding: 0 10px;
    color: red;
}
.language{
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}
.star{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 10px;
    background: red;
    position: relative;
}
.fa-star{
    color: yellow;
    font-size: 7px;
    position: absolute;
}
.text__language{
    padding: 0 10px;
    margin-bottom: 3px;
}

.menu{
    width: 100%;
    height: 80px;
    background: #403D38;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.list__menu{
    text-align: center;
}
.list__menu li{
    line-height: 80px;
    display: inline-block;
}
.list__menu li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 18px;
}
.logo{
    margin-left: 43px;
    margin-right: 156px;
}
.menu__option{
    margin-left: 50px;
}
.menu__option a{
    /* width: 164px; */
    display: inline-block;
    height: 80px;
    padding: 10px 10px;
    background: #D09754;
}
.nav__input:checked ~ .list__navbar-mobile{
    transform: translateX(0%);
    opacity: 1;
}
.nav__bars-btn{
    display: none;
}
.nav__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}
.menu__mobile{
    position: fixed;
    top: 0;
    right: 0;
    /* bottom: 0; */
    width: 320px;
    height: 360px;
    max-width: 100%;
    background: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}
.list__menu-mobile{
    margin-top: 20px;
    margin-left: 20px;
}
.list__menu-mobile li{
    list-style: none;
    padding: 10px 10px;
}
.list__menu-mobile a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000;
}
.menu__option-mobile{
    background: #D09754;
    width: 200px;
    text-align: center;
}
.menu__option-mobile a{
    color: #fff;
}
.nav__mobile-close{
    /* display: none; */
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000;
    font-size: 25px;
    padding: 5px;
}
.nav__input:checked ~ .nav__overlay{
    display: block;
}
.menu__mobile{
    display: none;
}
.nav__input:checked ~ .menu__mobile{
    transform: translateX(0);
    opacity: 1;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.slide__img img{
    width: 100%;
    height: 548px;
}
.date{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.list__date{
    width: 1116px;
    position: absolute;
    height: 129px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.list__date-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.list__button{
    width: 192px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
}
.list__button a{
    color: #000000;
    text-decoration: none;
}
.button__test{
    background: #D09754;
    color: #fff;
}
.button__test button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: #D09754;
    color: #ffff;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #F9F4EE;
}
.fa-calendar-days{
    padding-right: 10px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    margin-left: 12px;
}
.img__content{
    width: 640px;
    height: 393px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 8px;
    margin-right: 23px;
}
.img__content >img{
    width: 624px;
    height: 377px;
}
.text__content >p{
    width: 400px;
    text-align: justify;
    margin: 20px 0 29px 0;
}
.list__text-content{
    margin-left: 23px;
}
.text__content >h2{
    margin-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #482720;
}
.text__content >button{
    width: 176px;
    height: 49px;
    background: #482720;
    color: #fff;
    margin-top: 20px;
    border: none;
    font-weight: 500;
}
.text__content >button:hover{
    opacity: 0.9;
}
.slide__content{
    margin-top: 50px;
}
.slide__content >img{

}
.slide__content-img{
    width: 100%;
    position: absolute;

}
.slide__content-img >img{
    height: 813px;
    width: 100%;
}
.slide__any-text{
    position: relative;
    text-align: center;
}
.header__text{
    margin-top: 39px;
}
.text__slide-content >h2{
    font-weight: 700;
}
.text__slide-content >p{
    margin-bottom: 0;
}
.text__slide-content .text{
    margin-bottom: 64px;
}


.slide__show{
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    margin-left: 12px;
}
.slider__content-pc-all{

}
.img__content{
    width: 640px;
    height: 393px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 8px;
    margin-right: 23px;
}
.img__content >img{
    width: 624px;
    height: 377px;
}
.text__content >p{
    width: 400px;
    text-align: justify;
    margin: 20px 0 29px 0;
}
.list__text-content{
    margin-left: 23px;
}
.text__content >h2{
    margin-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #482720;
}
.text__content >button{
    width: 176px;
    height: 49px;
    background: #482720;
    color: #fff;
    margin-top: 20px;
    border: none;
    font-weight: 500;
}
.text__content >button:hover{
    opacity: 0.9;
}
.slide__content{
    margin-top: 50px;
}
.slide__content >img{

}
.slide__content-img{
    width: 100%;
}
.slide__content-img >img{
    min-height: 813px;
    position: absolute;
    width: 100%;
}
.slide__any-text{
    position: relative;
    text-align: center;
}
.header__text{
    margin-top: 39px;
}
.text__slide-content >h2{
    font-weight: 700;
}
.text__slide-content >p{
    margin-bottom: 0;
}
.text__slide-content .text{
    margin-bottom: 64px;
}
.list__slide-show{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide__show-two{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide__show-left-right{
    width: 361px;
    height: 271px;
    opacity: 0.5;
}
.slide__arrow-left, .slide__arrow-right{
    width: 60px;
    height: 60px;
    border: 1px solid #949494;
    transform: rotate(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.list__text-slide__show{
    position: relative;
}
.list__text-slide__show p{
    width: 334px;
    height: 60px;
    text-align: justify;
}
.list__content-slide__show{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.list__text-slide__show{
    text-align: center;
    margin-top: 15px;
}
.text__left{
   margin-left: 59px; 
}
.text__mid >button{
    width: 176px;
    height: 49px;
    background: #D09754;
    color: #fff;
    font-weight: 600;
}
.text__right{
  margin-right: 53px;
}
.list__text-slide__show >h5{
    font-weight: 700;
}
.list__text-slide__show >button{
    border: none;
    margin-top: 50px;
}
.text__left >button, .text__right >button{
    width: 176px;
    height: 49px;
    border: 1px solid #959595;
    font-weight: 500;
    opacity: 0.7;
}
.slide__show img{
    margin: 10px;
}

.slick-center{
    transform: scale(1.4);
}

.slide__show img{
    transition: all 0.3s ;
    width: 474px;
    height: 299px;
    object-fit: cover;
    margin: 20px;
}
.slick-arrow{
    padding: 20px;
    margin: 0 30px;
    border: 1px solid #949494;
}

.slide__content{
    overflow: hidden;
    width: 100%;
}
.slide__show-mobile-all{
}
@media (max-width: 1023px){
    .slide__content{
        width: 100% !important;
    }
    .text__left, 
    .text__right{
        display: none;
    }
    .slide__show{
        margin-top: -40px;
        width: 80% !important;
    }
    .slide__content-img img{
        min-height: 850px;
    }
    .text__mid button{
        margin-top: 20px;
    }
    .slide__show-mobile-all{
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slide__content-img img{
        width: 95%;
        display: flex;
        justify-content: center;
    }
}
.slide__content-image img{
    margin-top: 22px;
}

.list__text-slide__show{
    position: relative;
}
.list__text-slide__show p{
    width: 334px;
    height: 60px;
    text-align: justify;
}
.list__content-slide__show{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.list__text-slide__show{
    text-align: center;
    margin-top: 15px;
}
.text__left{
   margin-left: 59px; 
}
.text__mid >button{
    width: 176px;
    height: 49px;
    background: #D09754;
    color: #fff;
    font-weight: 600;
}
.text__right{
  margin-right: 53px;
}
.list__text-slide__show >h5{
    font-weight: 700;
}
.list__text-slide__show >button{
    border: none;
    margin-top: 50px;
}
.text__left >button, .text__right >button{
    width: 176px;
    height: 49px;
    border: 1px solid #959595;
    font-weight: 500;
    opacity: 0.7;
}
.list__slide-image{
    height: 813px;
}
.text__slide-content >h2{
    margin-top: 39px;
}
.slide__bottom{
    opacity:0;
}
.h2{
    padding-top: 51px;
}
.text__slide-show-left{
    width: 526px;
    height: 463px;
    background: #F2F2F2;
    opacity: 0.8;
}
.slide__image-right{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 626px;
    height: 463px;
    background: #FFFFFF;
    padding: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.slide__image-right img{
    object-fit: cover;
}
.slide__image-right .slick-arrow{
    position: absolute;
    z-index: 3;
    border: 1px solid #949494;
    opacity: 0.2;
}
.slide__image-right .chevron-prev{
    left: 0;
    margin-left: -600px;
}
.slide__image-right .chevron-next{
    right: 0;
    margin-right: -105px;
}
.text__slide-show-left{
    position: relative;
    padding-top: 81px;
    padding-left: 46px;
}
.text__slide-show-left >h3{
    width: 436px;
    color: #482720;
    font-weight: 700;
    padding-bottom: 35px;
}
.text__slide-show-left >button{
    margin-top: 35px;
    width: 176px;
    height: 49px;
    background: #D09754;
    border: none;
    color: #fff;
    font-weight: 500;
}
.slide__content-mobile{
    display: none;
}

.content__body{
    padding-top: 200px;
}
.list__text__content-body{
    text-align: center;
}
.list__text__content-body >h2{
    padding-top: 54px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #482720;
}
.text__content-body >p{
    margin-top: 16px;
    line-height: 7px;
}
.text__content-body .text__bottom{
    margin-bottom: 54px;
}
.body__avata{
    width: 100%;
    /* position: relative; */
}
.body__avata img{
    width: 100%;
    height: 545px;
    object-fit: cover;
    position: absolute;

}
.content__body-right-pc{
    position: absolute;
    right: 122px;
    width: 320px;
    height: 545px;
    background: #403D38;
    mix-blend-mode: multiply;
    opacity: 0.5;
}
.content__all-body-right-pc{
    position: absolute;
    right: 0;
    right: 155px;
    text-align: center;
}
.content__body-text-right{
    margin-top: 90px;
    color: #fff;
    width: 254px;
    height: 288px;
}
.content__body-text-right p{
    margin: 30px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #F9F4EE;
}
.content__all-body-right-pc button{
    width: 161px;
    height: 49px;
    background: #D09754;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #F9F4EE;
}

.content__body-right-mobile{
    position: absolute;
    width: 320px;
    height: 545px;
    background: #403D38;
    mix-blend-mode: multiply;
    opacity: 0.5;
}
.content__all-body-right-mobile{
    position: absolute;
    right: 0;
    text-align: center;
}
.content__body-text-right-mobile{
    margin-top: 90px;
    color: #fff;
    width: 254px;
    height: 288px;
}
.content__body-text-right-mobile p{
    margin: 30px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #F9F4EE;
}
.content__all-body-right-mobile button{
    width: 161px;
    height: 49px;
    background: #D09754;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #F9F4EE;
}
.mobile__all{
    display: none;
}
.service{
    width: 100%;
}
.service__img{
    position: absolute;
}
.list__service{
    margin-top: 600px;
    /* text-align: center; */
}
.list__service >img{
    height: 870px;
    width: 100%;
    position: absolute;
}
.list__service-content{
    position: relative;
    text-align: center;
    padding-top: 85px;
}
.list__service-content h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #482720;
    padding-top: -40px;
}
.list__service-content >img{
    padding-bottom: 16px;
}
.list__service-content-end >p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #403D38;
}
.list__srevice-option-all{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.list__service-option{
    width: 377px;
    height: 472px;
    background: #FFFFFF;
    margin: 34px 33px 37px 33px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    position: relative;
}
.service__option-img {
    width: 100%;
    height: 271px;
    padding: 8px;
}
.list__service-content-option{
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
}
.list__service-content-option >h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}
.list__text-service{
    text-align: center;
    width: 377px;
    padding: 0 20px;
}
.list__text-service >p{
    text-align: justify;
}
.service__option{
    position: relative;
    margin-top: 561px;
    text-align: center;
}
.service__option >button{
    width: 176px;
    height: 49px;
    background: #D09754;
    border: none;
    color: #fff;
    font-weight: 500;
}

.feedback__img {
    position: absolute;
    width: 100%;
    margin-top: 50px;
}
.feedback__img >img{
    height: 579px;
    width: 100%;
    object-fit: cover;
}
.feedback__all{
    position: relative;
    padding-top: 50px;
    color: #fff;
}
.list__text__content-body >img{
    margin-top: 20px;
}
.feedback__img-top{
    margin-top: 50px;
}
.feedback__text-content-body h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #F9F4EE;
}
.feedback__text-content-body h2{
    margin-top: -50px;
}
/* .feedback__img-top{
    margin-top: -50px;
} */
.feedback__img-mid >img{
    width: 114px;
    height: 114px;
    margin-top: 42px;
}
.author{
    margin-top: 18px;
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}
.author__ceo{
    margin-bottom: 0;
}
.evaluate >i{
    margin-top: 17px;
    position: relative;
    color: #D3A478;
    font-size: 12px;
}
.feedback__bottom-left{
    width: 20px;
    height: 5px;
    background: #D09754;
}
.feedback__bottom{
    display: flex;
    justify-content: center;
}
.feedback__bottom-mid{
    width: 5px;
    height: 5px;
    background: #F9F4EE;
    margin: 0 5px;
}
.feedback__bottom-right{
    width: 5px;
    height: 5px;
    background: #F9F4EE;
}

.news__option{
    width: 380px;
    height: 420px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin: 27px;
}
.news__option-img{
    position: absolute;
}
.news__option-img >img{
    width: 380px;
    height: 190px;

}
.news__date{
    width: 121px;
    height: 31px;
    background: #D09754;
    position: absolute;
    margin-top: 174px;
    margin-left: 26px;
}
.news__date >p{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    font-size: 12px;
    color: #FFFFFF;
}
.list__news-option-content{
    position: absolute;
    margin-top: 215px;
    margin-left: 26px;
}
.list__news-option-content >h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #373737;
    margin-bottom: 10px;
}
.reading__news{
    display: flex;
    align-items: center;
    opacity: 0.6;
    margin-top: 11px;
}
.reading__news >p{
    margin-bottom: 0;
}
.reading__news >i{
    margin-top: 6px;
    margin-left: 12px;
}
.list__news-option{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.news__btn{
    margin-top: 41px;
}
.news__btn button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #F9F4EE;
}

.footer{
    margin-top: 56px;
    height: 530px;
    background: #191919;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer__all{
    width: 1147px;
}
.footer__top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 23px;
}
.footer__top-right{
    width: 448px;
    border: 1px solid #FFFFFF;
}
.footer__top-left{
    width: 448px;
    border: 1px solid #FFFFFF;
}
.footer__mid{
    color: #fff;
    display: flex;
    justify-content: center;
}
.contact__network{
    width: 205px;
    height: 50px;
    border: 0.5px solid #E8E9E7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__list-content >h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #D09754;
}
.footer__list-content p{
    margin: 16px 0;
}
.footer__list-content{
    position: relative;
    margin: 0 35px;
}
.contact__network-list{
    border: 0.5px solid #E8E9E7;
    height: 50px;
}
.contact__network >i{
    margin: 0 17px;
}
.footer__input{
    width: 190px;
    height: 46px;
    border: 1px solid #FFFFFF;
    position: relative;
}
.input{
    position: relative;
    margin-top: -1px;
    margin-left: -2px;
    line-height: 45px;
}
.input >input{
    height: 45px;
    border: none;
    outline: none;
}
.footer__input-avatar{
    width: 53px;
    height: 48px;
    float: right;
    position: relative;
    background: #D09754;
    text-align: center;
    line-height: 48px;
    color: #373737;
    margin-top: -46px;
    margin-right: -1px;
}
.footer__map >img{
    width: 205px;
    height: 122px;
}
.all__underlined{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
}
.underlined{
    border: 1px solid #FFFFFF;
    width: 1147px;
}
.footer__bottom{
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partners h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #D09754;
    /* margin: 0 340px; */
}
.all__partners{
    display: flex;
    margin-top: 7px;
}
.partners__mid{
    margin: 0 11px;
}
.partners__bottom{
    background: #fff;
}